{% extends 'default.html.twig' %}

{% block body %}

{% if user %}
<section>
	<div class="container">
        <div class="row paragraphe">

						<form action="profil/change/{{ user.id }}" method="POST">
						  <div class="form-row">
						    <div class="form-group">
						    <label for="password_current">Current password</label>
						<input type="password" name="password_current" id="pasword_current"></br>

						    </div>
						    <div class="form-group">
						      <label for="password_new">New password</label>
								<input type="password" name="password_new" id="pasword_new"></br>
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="password_new_again">New password again</label>
								<input type="password" name="password_new_again" id="pasword_new_again">
						  </div>
							<input type="hidden" name="token" value="{{ token }}">
						  <button type="submit" class="btn btn-primary">Update</button>
						</form>

				</div>
		</div>
</section>

{% endif %}

{% endblock %}
