{% extends 'default.html.twig' %}

{% block body %}

{% if user %}
<section>
	<div class="container">
        <div class="row paragraphe">

						<form action="" method="POST">
						  <div class="form-row">
						    <div class="form-group">
						      <label for="firstname">First Name</label>
									<input type="text" name="firstname" value="{% if user.firstname %}{{ user.firstname }}{% endif %}">
						    </div>
						    <div class="form-group">
						      <label for="lastname">Last Name</label>
									<input type="text" name="lastname" value="{% if user.lastname %}{{ user.lastname }}{% endif %}">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="email">email</label>
								<input type="text" name="email" value="{% if user.email %}{{ user.email }}{% endif %}">
						  </div>
							<input type="hidden" name="token" value="{{ token }}">
						  <button type="submit" class="btn btn-primary">Update</button>
						</form>

				</div>
		</div>
</section>
{% endif %}

{% endblock %}
