{% extends 'defaultEmail.html.twig' %}

{% block content %}
    <p>Click to the link below to reset your password</p>
    <a href="myblog/profil/newpass/{{ user.id }}?identifier={{ link|url_encode }}">{{ link }}</a>
{% endblock %}
